*{
    margin: 0;
    padding: 0;
}

/* Main Body */
#main-containt{
    display: flex;
    justify-content: center;
    align-items: center;

}

#main-containt #containt{
    /* border: 5px solid black; */
    text-align-last: center;
    width: 953px;
    height: auto;
    /* background-color: lavender; */
    
}

/* Head Section With Image and Name */

#headSection{
    width: 100%;
    height: auto;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 30px;
   
}


#headSection #image{
    position: inherit;
    margin-left: -46px;
    margin-right: 195px;
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

#headSection #data{
    max-width: auto;
    height: 100%;
    
}

#headSection #name{
    width: 300px;
    font-size: 3rem;
    color: cornflowerblue;;
    font-family: 'Ubuntu', sans-serif;

}

#headSection #tag{
    font-size: 1rem;
    color: darkmagenta;
    font-family: 'Padauk', sans-serif;

}

#headSection #data .contactFonts{
    margin-top: 10px;
}

/* Tagline Section  */

.tag-cintainer{
    display: flex;
    justify-content: center;
    align-items: center;
}


#containt #tag-line p{
    background-color: aliceblue;
    max-width: 406px;
    line-height: 2;
    font-size: 22px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

#tag-line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 929px;
    height:auto;
    background-color: aliceblue;
    border-radius: 6px;
}

/* About Section  */

#about-Section{
    display: flex;
    justify-content:center;
    align-items: center;
}

#about-Section #about{
    width: 450px;
    border: 3px solid blueviolet;
    margin: 5px;
    padding-bottom: 45px;
    padding-top: 45px;
    font-size: 2rem;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
}

#about-Section #about-desc{
    height: 141px;
    width: -webkit-fill-available;
    border: 3px solid rgb(154, 128, 179);
    margin: 5px;
    color: darkgreen;
    border-radius: 8px;
}

#about-Section #about-desc p{
    padding: 34px 65px;
    font-family: 'Nunito', sans-serif;
    color: maroon;
    opacity: 14.4;
}

/* Skills Section  */
.skill-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-section #skills{
    height: auto;
    width: 642px;
    left: -3px;
    position: relative;
    margin: 10px;
    border: 2px solid cyan;
    border-radius: 8px;
}

.add{
    font-family: 'Noto Sans Mono', monospace;
    max-width: 500px;
    text-align: center;
    position: relative;
    left: 50px;
    line-height: 33px;
    font-size: 19px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: currentcolor;
}

.add .add-skill{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: darkblue;
    font-weight: 700;
}

span{
    background-color: beige;
}

.sk-c{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sk-c .html{
    position: relative;
    left: -27px;
    font-size: 1.3rem;
    font-family: 'Noto Sans Mono', monospace;
    margin-right: 60px;
}

.sk-c .css{
    position: relative;
    left: -29px;
    font-size: 1.3rem;
    font-family: 'Noto Sans Mono', monospace;
    margin-right: 75px;
}

.sk-c .js{
    position: relative;
    left: -31px;
    font-size: 1.3rem;
    font-family: 'Noto Sans Mono', monospace;
    margin-right: -12px;
}

.sk-c .dj{
    position: relative;
    left: -29px;
    font-size: 1.3rem;
    font-family: 'Noto Sans Mono', monospace;
    margin-right: 37px;
}

.skill-section #sk{
    width: 302px;
    height: 326px;
    left: -6px;
    position: relative;
    border-radius: 7px;
    font-size: 33px;
    border: 2px solid brown;
    color: royalblue;
    font-family: 'Inter', sans-serif;
}

.skill-section #sk p{
    margin-top: 45%;
}

/* Photo Section  */

#certificate-container{
    padding: 32px;
    border-radius: 19px;
    background-color: antiquewhite;
}


/* My Contact Section */
#contact{
    width: 953px;
    height: auto;
    margin-top: 10px;
    background: #303133;
}

#contact #con_desc{
    background-color: black;
}

#contact #contact_me{
    height: 42px;
    width: 952px;
    color: white;
    background: #303133;
}

#contact #contact_me a{
    font-family: 'Merriweather', serif;
    position: absolute;
    font-size: 1.6rem;
    margin-left: 75px;
}

/* Contact Section - Call Section  */

#con_desc .call{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    left: -385px;
}

#con_desc .call #call_img{
    width: 27px;   
}

#con_desc .call #call_img:hover{
    cursor: pointer;
}
#con_desc .call p{
    margin-top: 10px;
    margin-left: 10px;;
}

#con_desc .call p .num:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* Contact Section - Email section  */
#con_desc .email{
    margin-top: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    left: -356px;
}

#con_desc .email #email_img{
    width: 39px;   
}

#con_desc .email #email_img:hover{
    cursor: pointer;
}
#con_desc .email a{
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

#con_desc .email p:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* Contact Section - WhatsApp section  */
#con_desc .wp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    left: -450px;
}

#con_desc .wp #wp_img{
    width: 38px;
    height: 33px;  
}

#con_desc .wp #wp_img:hover{
    cursor: pointer;
}


/* Footer Section  */

footer{
    text-align: center;
    margin-top: 10px;
    background: black;
    color: white;
    padding: 9px 20px;
}

span .num{
    background-color: black;
}
